doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title= 'Title'
        link(href='./css/style.css' rel='stylesheet')
    body
        block content

        script(src='./js/fontawesome.js')
        block scripts
        
